# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.eml
*.iml

# Mac OSX
.DS_Store

# Build and Distribution Directories
core/target/
spark/target/
target/
dist/
docs/

# vim tmps
.*sw*

# sbt
project/project
project/target
.history

# Maven tmps
*.versionsBackup
